<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Id</title>
</head>
<body>
    <img src=<%=product.images[0]%> />
    <h3><%= product.title %></h3>
    <ul>
        <li><%= product.description %></li>
        <li><%= product.price %></li>    
        <li><%= product.discountPercentage %></li>    
        <li><%= product.rating %></li>    
        <li><%= product.stock %></li>    
        <li><%= product.brand %></li>    
        <li><%= product.category%></li>        
    </ul>   
</body>
</html>